/* I've modified what colors I think I'll use. May have to come back later. */
[data-bs-theme=persona] {
    color-scheme: dark;
    --bs-body-color: #fafafa;
    --bs-body-color-rgb: 250, 250, 250;
    --bs-body-bg: #212529;
    --bs-body-bg-rgb: 33, 37, 41;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: #fafafa;
    --bs-secondary-color-rgb: 250, 250, 250;
    --bs-secondary-bg: #cc1301;
    --bs-secondary-bg-rgb: 204, 19, 1;
    --bs-tertiary-color: #d0d0d0;
    --bs-tertiary-color-rgb: 208, 208, 208;
    --bs-tertiary-bg: #8d0303;
    --bs-tertiary-bg-rgb: 141, 3, 3;
    --bs-primary-text-emphasis: #eb1515;
    --bs-secondary-text-emphasis: #ffffff;
    --bs-success-text-emphasis: #fdfd43;
    --bs-info-text-emphasis: #ffffff;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #eb1515;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #212529;
    --bs-secondary-bg-subtle: #2d1313;
    --bs-success-bg-subtle: #dede73;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #cc1301;
    --bs-link-hover-color: #eb1515;
    --bs-link-color-rgb: 204, 19, 1;
    --bs-link-hover-color-rgb: 235, 21, 21;
    --bs-code-color: #e685b5;
    --bs-highlight-color: #dee2e6;
    --bs-highlight-bg: #664d03;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;
}
