<div class="rounded bg-body mt-3 overflow-hidden">
	<h2 class="bg-body-secondary p-1 m-0 text-center" id="monthTitleHeader"></h2>
	<div class="container p-1 m-0" id="monthContainer">
		<div class="row text-center">
			<div class="col fs-3 text-center">S</div>
			<div class="col fs-3 text-center">M</div>
			<div class="col fs-3 text-center">T</div>
			<div class="col fs-3 text-center">W</div>
			<div class="col fs-3 text-center">Th</div>
			<div class="col fs-3 text-center">F</div>
			<div class="col fs-3 text-center">S</div>
		</div>
	</div>
</div>
