<a
  class="text-reset text-decoration-none"
  href="/confidants/confidant.html?confidant="
  id="confidantPageAnchor"
>
  <div
    class="container rounded mt-3 overflow-hidden flip-card-hover-area bg-body"
  >
    <div class="row bg-body-secondary">
      <h1 class="text-center" id="confidantNameHeader"></h1>
    </div>

    <div class="row">
      <div class="col order-1 order-lg-0 p-0 m-0">
        <img class="p-0 m-0" alt="" id="confidantProfileImage" />
      </div>

      <div
        class="col-12 order-0 order-lg-1 col-lg-4 fs-2 text-center p-0 m-0"
        id="confidantArcanaText"
      ></div>

      <div class="col order-2 p-0 m-0">
        <div class="flip-card-inner float-end">
          <div class="flip-card-front">
            <img src="/images/cards/card_back.webp" alt="" />
          </div>
          <div class="flip-card-back">
            <img id="confidantCardImage" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
